<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Ticketer - Easily manage users' concerns</title>
    <meta name="keywords" content="ticketer, ticketer.gg, ticket, discord ticket, discord ticket bot, ticket bot, discord, ticket discord">
    <meta name="description" content="With ticketer you can easily manage the concerns of your server members at any time. Very uncomplicated and with many possibilities!">
    <meta name="author" content="Developer Dungeon Studios">

    <link rel="stylesheet" href="/assets/css/privacy.css">
    <link rel="stylesheet" href="/assets/css/responsive/privacy.responsive.css">
    <link rel="stylesheet" href="/assets/css/partials/navbar.css">
    <link rel="stylesheet" href="/assets/css/partials/footer.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="shortcut icon" href="/assets/img/logo-round.webp" type="image/x-icon">
</head>
<body class>
    <%- include('./partials/navbar.ejs') %>
    
    <div class="content">
        <div class="setting">
            <h1 class="head">Privacy Policy</h1>

            <h3 class="title">Data Usage</h3>
            <p class="description">
                The bot may use stored data, as defined below, for different features including but not limited to: Creating tickets, asigning members to tickets and so on.<br>
                No usage of the data outside of the aforementioned cases will happen, and the data is not shared with any third-party site or service.
            </p>
            
            <br>
            <h3 class="title">Stored Information</h3>
            <p class="description">
                The bot may store the following information automatically when being invited to a new Discord Server or create those later on when using the dashboard:<br>
                <br>
                The discord guild id of your server
                The role id for the admin and staff roles<br>
                The channel id to send the ticket message in or to send logs<br>
                The ticket name as a string<br>
                The messages sent into a ticket (only if transcripts enabled)<br>
                <br>
                No other information outside of the above mentioned one will be stored.
            </p>

            <br>
            <h3 class="title">Updating Data</h3>
            <p class="description">
                The data may be updated when using specific commands or our dashboard.<br>
                Updating data will require the input of an end user, and data that can be seen as sensitive, such as content of a message, may need to be stored when using certain commands.<br>
                <br>
                No other actions may update the stored information at any given time.
            </p>

            <br>
            <h3 class="title">Temporarely stored Information</h3>
            <p class="description">
                The Bot may keep the stored information in an internal cacheing mechanic for a certain amount of time like we ussualy delete your data every few months in order to keep your data secure.<br>
                After this time period, the cached information will be dropped and only be re-added when required.<br>
                <br>
                Data may be dropped from cache pre-maturely through actions such as removing the bot from the Server.
            </p>

            <br>
            <h3 class="title">Removal of Data</h3>
            <p class="description">
                If your want to get your data removed dm the founders <a class="link">BLACK#0001</a> and <a class="link">Mezo#0001</a> to get all your data wiped.
            </p>

            <br>
            <h3 class="title">Manual removal</h3>
            <p class="description">
                Manual removal of the data can be requested through email at <a class="link">mezo.dsn@gmail.com</a> or as mentioned above a dm to the founders.<br>
                For security reasons, we will ask you to provide us with proof of ownership of the server. It is only the server's owner that may request manual removal and requesting it will result in the bot being removed from the server!    
            </p>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %>

    <script src="/assets/js/partials/navbar.js"></script>
</body>
</html>