@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #111111;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
    font-display: swap;
    overflow-x: hidden;
    user-select: none;
}

body::-webkit-scrollbar {
    width: 8px;
    background-color: #000000;
    position: absolute;
}
   
body::-webkit-scrollbar-thumb {
    background: #5865F2; 
    border-radius: 10px;
}
  
body::-webkit-scrollbar-thumb:hover {
    background: #454FBF; 
}

body .content {
    margin-left: 330px;
    margin-top: 66px;
    display: flex;
    flex-direction: column;
    padding: 15px 25px;
    position: relative;
    z-index: 400;
}

body .content .button {
    background-color: #5865F2;
    color: #ffffff;
    text-decoration: none;
    padding: 4px 22px;
    border-radius: 8px;
    font-weight: 500;
    font-display: swap;
    transition: ease-in-out .2s;
    justify-self: flex-end;
    text-align: center;
    cursor: pointer;
}

body .content .list {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

body .content .list .item {
    padding: 15px 0px;
    background-color: #181818;
    display: flex;
    border-radius: 8px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

body .content .list .item:not(:first-child) {
    margin-top: 7px;
}

body .content .list .item .name {
    color: #ffffff;
    margin: 0;
    font-weight: 500;
    font-size: 1.1rem;
    margin-left: 20px;
}

body .content .list .item .id {
    color: #ffffff;
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
    margin-right: 25px;
}

body .saveChanges {
    display: none;
    padding: 6px 10px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(37, 37, 37, 1);
    border-radius: 8px;
    position: fixed;
    width: fit-content;
    right: 20px;
    bottom: 10px;
    z-index: 99999;
    max-width: 85vw;
}

body .saveChanges.active {
    display: flex;
    animation: changein .2s;
}

@keyframes changein {
    0% {
        opacity: 0;
        display: flex;
        visibility: visible;
        bottom: 2px;
    }
    100% {
        opacity: 1;
        display: flex;
        visibility: visible;
        bottom: 10px;
    }

}

body .saveChanges .text {
    margin: 0;
    color: #ffffff;
    font-weight: 500;
    justify-self: flex-start;
    overflow: hidden;
    text-overflow: ellipsis;
}

body .saveChanges .button {
    background-color: #5865F2;
    color: #ffffff;
    text-decoration: none;
    padding: 4px 22px;
    border-radius: 8px;
    font-weight: 600;
    font-display: swap;
    transition: ease-in-out .2s;
    margin-right: 6px;
    margin-left: 16px;
    justify-self: flex-end;
    cursor: pointer;
}

body .saveChanges .button:hover {
    background-color: #454FBF;
}